p {
    color:red;
    background-color: lightyellow;
    width: 300;
    height: 100;
    margin: 20;
    padding: 20;
    white-space: pre-line;
    text-align: left;
}
h1 {
    color:blueviolet;
    text-align:center;
    border: 3px solid red;
}
h2 {
    color:#0c8e05;
}
table {
    border: 3px solid black;
    border-collapse: collapse;
}
th, td {
    border: 1px solid black;
    padding: 3px;
    background-color: rgb(207, 202, 202);
    width: 10%;
    text-align: center;
}
#top {
    font-size: large;
}
#middle {
    font-size: medium;
}
#bottom {
    font-size: large;
}
.name {
    font-weight: bold;
}
ol > li {
    color: green;
}
ul li {
    color: red;
}
button {
    background-color: green;
}
button:hover {
    background-color: yellow;
}
#t::before {
    content: "\21d2 ";
}
p::selection {
    color: white;
    background-color: black;
}
@media print{
    .screen {
        display: none;
    }
}
@media (min-width:800px){
    body {
        background-color: cadetblue;

    }
}
@media (max-width:799px){
    body{
        background-color: darkgoldenrod;
    }
}