{% extends "layout.html" %}
{% block heading %}
    First Page
{% endblock %}

{% block body %}
    <form action="{{ url_for('next') }}" method="POST" >
        <input type= "text" placeholder="Full Name" name="name">
        <button>Submit</button>
    </form>
    <p> 
        This is the new revolution of AI
    </p>
    <a href="{{ url_for('next1') }}">Next page...</a>

{% endblock %}