<!DOCTYPE html>
<html>
    <head>
        <title>My Webpage</title>
    </head>
    <body>
        <h1>{% block heading %}{% endblock %}</h1> 
        <h2>Welcome!</h2>
        {% block body %}
        {% endblock %}
    </body>
    
</html>