{% extends "layout.html" %}
{% block heading %}
    First Page
{% endblock %}

{% block body %}
    Hello, {{name}}!
    <p> 
        New experiments are going on AI!
    </p>
    <a href="{{ url_for('home') }}">Home page...</a>
    
{% endblock %}