{% extends "layout.html" %}
{% block heading %}
    My Notes
{% endblock %}

{% block body %}
    <ul>
        {% for note in notes %}
            <li>{{note}}</li>
        {% endfor %}
    </ul>
    <form action="{{ url_for('notes') }}" method="POST" >
        <input type= "text" placeholder="New Note" name="note">
        <button>Add Note</button>
    </form>

{% endblock %}