<!DOCTYPE html >
<html>
    <head>
        <title> AI Revolution!</title>
        <meta name="viewpoint" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <link rel="stylesheet" href="styles.css">
    </head>
    <body>
        <h1>Welcome to AI</h1>
        <h2>{{headline}}</h2>
        {% if yyear %}
            <h3>It is Corona Year!</h3>
        {% else %}
            <h3>It a normal year!</h3>
        {% endif %}
        <a href="https://news.google.com/topstories?hl=en-IN&gl=IN&ceid=IN:en">Click Here for News - </a>

        <a href="{{ url_for('next') }}">Next page...</a>

        <form>
            <input type= "text" placeholder="Full Name" name="name">
            <button>Submit</button>
            <input name="password" type="password" placeholder="Password">
            <div>
                Fav Color:
                <input name="color" type="radio" value="Red">Red
                <input name="color" type="radio" value="Green">Green
                <input name="color" type="radio" value="Blue">Blue
                <input name="color" type="radio" value="White">White
            </div>
            <div>
                <input name="country" list="countries" placeholder="country">
                <datalist id="countries">
                    <option value="India"></option>
                    <option value="America"></option>
                    <option value="China"></option>
                    <option value="Japan"></option>
                    <option value="Singapore"></option>
                </datalist>
            </div>
        </form>
        
        <p class =screen>This is a page of innovation.
            Connect and share your projects.
            Get awarded by us.
        </p>   
        <div id="top">
            This is the <span class="name">top</span> of webpage.
        </div>
        <div id="middle">
            This is the <span class="name">middle</span> of webpage.
        </div>
        <div id="bottom">
            This is the <span class="name">bottom</span> of webpage.
        </div>
        Unorder List:
        <ul>
            {% for name in name1 %}
                <li id="t">{{name}}</li>
            {% endfor %}
        </ul>s
        Ordered List:
        <ol>
            <li><a href="#top">Python</a></li>
            <li>HTML</li>
            <ul>
                {% for name in name1 %}
                <lix>{{name}}</li>
                {% endfor %}
            </ul>
            <li>JAVAScript</li>
        </ol>
        <img src= "images\AI.jpg" height="20%" width="20%">


        <table>
            <tr>
                <th>Name</th>
                <th>Age</th>
                <th>Sex</th>
            </tr>
            <tr>
                <td>Gaurav</td>
                <td>23</td>
                <td>Male</td>
            </tr>
            <tr>
                <td>john</td>
                <td>23</td>
                <td>Male</td>
            </tr>
        </table>
    </body>
</html>